{{- if .Values.ingress.enabled }}
apiVersion: {{ include "ccr.ingress.apiVersion" . }}
kind: Ingress
metadata:
  name: {{ include "ccr.fullname" . }}
  labels:
    {{- include "ccr.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            {{- if eq (include "ccr.ingress.apiVersion" $) "networking.k8s.io/v1" }}
            pathType: {{ .pathType }}
            {{- end }}
            backend:
              {{- if eq (include "ccr.ingress.apiVersion" $) "networking.k8s.io/v1" }}
              service:
                name: {{ include "ccr.flask.serviceName" $ }}
                port:
                  number: {{ $.Values.service.port }}
              {{- else }}
              serviceName: {{ include "ccr.flask.serviceName" $ }}
              servicePort: {{ $.Values.service.port }}
              {{- end }}
          {{- end }}
    {{- end }}
{{- end }}
