apiVersion: v1
kind: Service
metadata:
  name: {{ include "ccr.flask.serviceName" . }}
  labels:
    {{- include "ccr.labels" . | nindent 4 }}
    app.kubernetes.io/component: flask
spec:
  type: {{ .Values.service.type }}
  {{- if .Values.service.sessionAffinity }}
  sessionAffinity: {{ .Values.service.sessionAffinity }}
  {{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
      {{- if and (eq .Values.service.type "NodePort") .Values.service.nodePort }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
  selector:
    {{- include "ccr.flask.selectorLabels" . | nindent 4 }}
