apiVersion: v1
kind: Service
metadata:
  name: mongodb-service
  labels:
    app: ccr
    component: mongodb
spec:
  type: ClusterIP
  selector:
    app: ccr
    component: mongodb
  ports:
  - name: mongodb
    protocol: TCP
    port: 27017
    targetPort: 27017
  sessionAffinity: None
